*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  display: flex;
  flex-direction: column;
    height: 100vh;
    width: 100%;
font-size: 14px;
line-height: 20px;
color: #6B7280;
background-color: #fff;
margin-left: auto;
margin-right: auto;
font-weight: 400;
font-family: 'Inter','Arial',sans-serif;
margin: 0;

}


/* SITE ASIDE STYLES  */

.site-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.site-nav {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80%);
  height: 100vh;
background-color: #F3F4F6;
 justify-content: space-between;
}
.top-nav {
  display: flex;
 flex-direction: column;


}

.site-logo-icon{
width: 134px;
height: 40px;
margin-top: 24px;
margin-bottom: 20px;
margin-left: 22px;
}
.list-nav {
  display: flex;
  flex-direction: column;
  list-style: none;

}

.list-item:nth-child(3){
  margin-bottom: 24px;
}
.list-item {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 10px 16px;
   border-radius: 8px;
}

.bg:hover{
  transition: background-color 1.2s ease, color 1.2s ease ;
  background-color:#fff;
  color:#10B981;
}

.item-link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  color:#6B7280;
  gap: 12px;
  align-items: center;
}



.input{
  width: 224px;
  height: 40px;
  padding: 10px 16px 10px 30px;
  background-color:transparent;
  background-image:url(img/icon-search.svg);
  background-repeat:no-repeat;
  background-size: 24px 24px;
  background-position: left center;
  font-weight: 500;
  font-style: 14px;
  line-height: 20px;
  border: 0;
  transition: transform 1s ease;
}

.input:hover{
   color:#10B981;
}

.horizont{
  border: 1px solid #E5E7EB;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav-footer-heading {
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6B7280;
}
.link-install-footer {
  text-decoration: none;
  display: flex;
  padding: 8px 16px;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #6B7280;
gap: 16px;
}


/* SECTION HERO STYLES  */


.hero-site {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 22px 27px 138px 37px;
}
.name-album-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name-alnum {
  font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color:#111827;
}
.text-album {
color:#6B7280;
}
.recommend {
  font-weight: 600;
font-size: 12px;
line-height: 16px;
color:#6B7280;
}
.list-people {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(188px,1fr));
  grid-auto-rows: 272px;
  grid-auto-flow: dense;
  column-gap: 45px;
row-gap: 26px;
list-style: none;
padding-right: 350px;

}
.list-people-item {
  display: flex;
  flex-direction: column;
  background-color:#F9FAFB;
  justify-content: center;
  align-items:center;
  padding: 16px;
}
.img-people {

object-fit: cover;
margin-bottom: 16px;
}
.item-of-article {
  display: flex;
  flex-direction: column;
}
.article-heading {
  font-weight: 700;
  font-style: 16px;
  line-height: 24px;
color:#111827;
margin-bottom: 5px;
}
.article-headaing-text {
  color:#6B7280;
}